body{
    background-image: url(https://cdn.pixabay.com/photo/2020/06/19/15/17/train-station-5317775__480.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ms_text{
    background-color: rgb(255, 255, 0);
    transition: background-color , color 1s;
}

.ms_text:hover{
    background-color: rgb(9, 108, 189);
    color: white;
}

.fa-face-laugh-wink{
    font-size: 30px;
    color: yellow;
}